<h3 class="sub-header">My Favorite Questions</h3>

{{#each favoriteQuestion.threads as |question|}}
  <div class="row userQuestionBox">
    <div class="col-xs-7">
      <h4>
        {{question-popularity question}}<span> </span>
        {{question.topic}}
      </h4>
      <h5>Ask by {{question.author}}</h5>
    </div>

    <div class="col-xs-4">
      <h5>Post date go here</h5>
      <h5>Number of answers go here</h5>
    </div>
  </div>
{{/each}}
