.main-container {
  margin-bottom: 20px;
}

header {
  background-image: url("https://pixabay.com/static/uploads/photo/2015/10/29/14/38/web-1012467_960_720.jpg");
}

header h1{
  text-align: center;
  margin-bottom: 15px;
  padding-top: 15px;
  color: #74AE01;
}

.sub-header {
  text-align: center;
  margin-bottom: 15px;
}

.style-action:hover {
  color: #3399ff;
  /*font-weight: bold;*/
  text-shadow: 3px 3px 5px gray;
}

.style-author {
  font-size: 16px;
  font-weight: normal;
}

.navbar {
  background-color: #F8F874;
  border-radius: 0px;
}

.userAnswerBox {
  background-color: #d3d3c2;
  padding-top: 10px;
  margin-bottom: 3px;
  width: 100%;
}

.editBox {
  float: right;
  padding-right: 10px;
}

.userQuestionBox {
  background-color: #FFD1CF;
  margin-top: 5px;
  margin-bottom: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

#favorite-question {
  background-color: #b3ffe6;
}

.styleTopBottom {
  margin-top: 5px;
  margin-bottom: 5px;
}

#editQuestionInput {
  width: 55%;
}

.glyphicon-fire {
  color: #E60B00;
}

.glyphicon-pencil {
  color: #00994d;
}

#add-button {
  background-color: #5bc0de;
  border-radius: 3px;
  border-style: none;
  color: white;
  padding: 10px;
}

#button-fav {
  background-color: #b3ffe6;
  padding-left: 15px;
  padding-right: 15px;
}

#button-style-upvote {
  background-color: #5bc0de;
  border-radius: 3px;
  border-style: none;
  margin-bottom: 10px;
}

.avatar {
  padding-top: 10px;
  height: 60px;
}
