header h1 {
  text-align: center;
  margin-bottom: 15px;
}

footer {
  position: absolute;
  bottom: 20px;
  margin-left: 450px;
}

.style-action:hover {
  text-decoration: underline;
  color: #3399ff;
}

.style-author {
  font-size: 16px;
  font-weight: normal;
}

.navbar {
  background-color: #e6f2ff;
}
