<div class="container">
  <header>
    <h1>Welcome to Message Board</h1>
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'index'}}Home{{/link-to}}</li>
          <li>{{#link-to 'about'}}About{{/link-to}}</li>
          <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
        </ul>
      </div>
    </nav>
  </header>
    {{outlet}}
  <footer>
    <hr>Copyright MessageBoard 2016
  </footer>
</div>
