<div class="container main-container">
  <header>
    <h1>Message Board</h1>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li>{{#link-to 'index'}}<span class="glyphicon glyphicon-home"></span> Home{{/link-to}}</li>
            <li>{{#link-to 'favorite'}}<span class="glyphicon glyphicon-thumbs-up"></span> Favorite Question{{/link-to}}</li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>{{#link-to 'about'}}About{{/link-to}}</li>
            <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    {{outlet}}
  </div>
</div>
