<h3>You can find the latest questions post below.</h3>

<ul>
  {{#each model.questions as |question|}}
    <li>{{#link-to 'question' question.id}}{{question.topic}}{{/link-to}} by {{question.author}}</li>
  {{/each}}
</ul>

{{new-question save="save"}}
