<div>
  {{#each model.questions as |question|}}
    <div class="row userQuestionBox">
      <div class="col-xs-7 userTopic">
        <h4>{{#link-to 'question' question.id}}{{question.topic}}{{/link-to}}</h4>
        <p>Ask by {{question.author}}</p>
      </div>

      <div class="col-xs-4 userPost">
        <h5>Post date go here</h5>
      </div>
    </div>
  {{/each}}
</div>

<div class="col-xs-6">
  {{new-question saveQuestion="saveQuestion"}}
</div>
